<!-- 
    before redux we needed to start the output process
    <app-new (newPost)="addPost($event)"></app-new> 
    after redux, we don't need
-->
<app-new></app-new>
@for (newPost of newProfilePosts(); track newPost.id) {
    <app-post
        [post]="newPost" 
        [allowActions]="true"
        [isNewPost]="true"
    ></app-post>
}
@for (post of profilePosts(); track post.id) {
    <!-- 
    before redux we had to propagate the output events
    <app-post
        [post]="post" 
        [allowActions]="true"
        (deletedPost)="removePost($event)"
    ></app-post> 
    after redux, we don't need that any longer...
    -->
    <app-post
        [post]="post" 
        [allowActions]="true"
    ></app-post>
}
@empty {
    <app-spinner></app-spinner>
}
