.post {
    border: 1px dashed purple;  
    padding: 4px;
    background-color: #fff0;
    transition: background-color ease-in 0.2s;

}

.post > .title {
    font-size: large;
}

.post > .byLine {
    font-style: italic;
}

.newPost {
    transition: background-color ease-in 0.2s;
    background-color: yellow;
}