<div [class]="cssClass">
    <div class="title">{{post()?.title}}</div>
    <div class="byLine">by {{post()?.user?.name}} on {{post()?.createdAt | date}}</div>
    <div class="body">{{post()?.body}}</div>
    @if (allowActions()) {
        <div>
            <button 
                (click)="deleteMe()"
            >delete</button>
            <button (click)="editMe()">edit</button>
        </div>
    }
    <app-comments 
        [comments]="post()?.comments"
        [postId]="post()?.id"
    ></app-comments>
</div>